*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main{
    width: 100vw;
    height: 100vh;
    background: url(https://images.hdqwalls.com/download/lake-minimal-green-4k-c0-1920x1080.jpg);
    color: white;
}